form.form-search {
    margin: 0;
    padding-top: 3px;
}

.form-search .search-query {
    padding-left: 10px;
}

.form-search button {
    float: right;
}

#aside {
    border-left: 1px solid #E5E5E5;
    padding-left: 10px;
}

footer.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}